.no-scroll {
  overflow: hidden;
}

body .react-ios-time-picker {
  background-color: #f5f5f5;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 10px 14px 12px rgba(0, 0, 0, 0.1);
}

body .react-ios-time-picker-container {
  background-color: #f5f5f5;
}

body .react-ios-time-picker-selected-overlay {
  background-color: #58e4fa32;
  border-radius: 6px;
}

body .react-ios-time-picker-cell-hour,
body .react-ios-time-picker-cell-minute,
body .react-ios-time-picker-cell-hour-format {
  color: #2076b4;
  font-weight: 500;
}

body .react-ios-time-picker-cell-inner-hour,
body .react-ios-time-picker-cell-inner-hour-format,
body .react-ios-time-picker-cell-inner-minute {
  color: #2076b4;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

body .react-ios-time-picker-cell-inner-hour:hover,
body .react-ios-time-picker-cell-inner-minute:hover,
body .react-ios-time-picker-cell-inner-hour-format:hover {
  background-color: #eaeff3;
  color: #2076b4;
}

body .react-ios-time-picker-btn-container {
  display: flex;
  justify-content: space-between;
  background-color: #56e4fa;
  border-bottom: 1px solid #ddd;
  padding: 12px 20px;
}

body .react-ios-time-picker-btn {
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  font-weight: 500;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

body .react-ios-time-picker-btn:hover {
  background-color: #ffffff !important;
}

body .react-ios-time-picker-btn-cancel {
  color: #33219a !important;
}

body .react-ios-time-picker-input {
  width: 120px;
  cursor: text;
  padding: 5px;
  border: 0;
}

body .time-picker-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body .time-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e2e2e2;
  gap: 1rem;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

body .time-input {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  width: 120px;
  text-align: center;
}

body .open-popup-btn {
  padding: 8px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

body .open-popup-btn:hover {
  background-color: #0056b3;
}

body .time-picker-container {
  position: relative;
  display: flex;
  flex-direction: row;
}

@media (max-width: 767px) {
  body .react-ios-time-picker {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
    z-index: 1000;
    background-color: #f5f5f5;
    border-radius: 12px;
    box-shadow: 10px 14px 12px rgba(0, 0, 0, 0.1);
  }

  body .react-ios-time-picker-container {
    padding: 20px;
  }

  body .react-ios-time-picker-btn-container {
    padding: 12px;
  }

  body .time-picker-wrapper {
    padding: 20px;
  }

  body .time-input {
    width: 100px;
    font-size: 14px;
  }
}
