body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 50px;
  font-family: Arial, sans-serif;
}
#root {
  width: 700px;
}

.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 900px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.title {
  margin-top: 50px;
  text-align: center;
  font-size: 1.5em;
}

.form-container {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

div {
  display: block;
  align-items: center;
  gap: 0.5rem;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

span {
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
}

h2 {
  margin-top: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

strong {
  display: inline-block;
  width: 80px;
}
hr {
  width: 300px;
  height: 0;
  border: 1px solid #c4c4c4;
  margin: 3px;
  display: inline-block;
}
